/**
 * Paytoshi Faucet Base CSS
 * 
 * Author: Paytoshi
 * Website: http://paytoshi.org
 * Contact: info@paytoshi.org
 */

body {
    background: #333;
    color: white;
}

.title {
    font-size: 48px;
}

.reward-list {
    margin: 16px;
}

.reward {
    color:white;
    background-color: #4D90FE;
    border: 1px solid transparent;
    border-radius:15px;
    padding:3px 20px;
    height:30px;
    font-weight:bold;
    margin-bottom: 10px;
}

.captcha {
    margin: 20px 0;
}

.get-reward, .get-reward:hover {
    color: #222;
    margin-bottom: 10px;
}

.custom-content {
    margin: 0;
}

.referral-box {
    color: #222;
    margin: 20px 0;
    background-color: #5bc0de;
}

.faucet {
    width: 468px;
    margin-left: auto;
    margin-right: auto;
}

#footer {
    padding-top: 10px;
    margin-top: 10px;
    border-top: 2px solid #222;
}