{% extends 'admin/layout.html.twig' %}

{% block content %}
<div class="row ng-cloak" ng-app="paytoshi.setup" ng-controller="SetupController">
    <div class="col-xs-12">
        <div class="page-header">
            <h1>Paytoshi Faucet setup</h1>
        </div>

        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <strong>The faucet script cannot be installed because the following requirements are not satisfied.</strong>
        </div>

        <ul class="list-unstyled">
            {% for requirement in checker.requirements %}
                <li{% if not requirement.isFulfilled %} class="text-danger"{% endif %}>
                    {% if requirement.isFulfilled %}
                        <i class="glyphicon glyphicon-ok text-success"></i>
                    {% else %}
                        <i class="glyphicon glyphicon-remove"></i>
                    {% endif %}
                    {{ requirement.testMessage }}
                    {% if not requirement.isFulfilled %}
                        <p>{{ requirement.helpHtml|raw }}</p>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}