<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{% block description %}Paytoshi Faucet{% endblock %}">
        <meta name="keywords" content="{% block keywords %}bitcoin,free bitcoin,faucet,bitcoin faucet,free satoshi,get free bitcoin{% endblock %}">
        <meta name="author" content="Looptribe">
        {#<meta name="google-site-verification" content="TODO: WEBMASTER TOOLS" />#}
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        
        <title>{{ name|default('Paytoshi Faucet') }}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
        {% endblock %}
    </head>
    <body>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
        <footer id="footer">
            <center>
                <p>
                    Powered by <a href="https://paytoshi.org">Paytoshi</a> | <a href="{{ urlFor('home') }}">Faucet</a>
                </p>
            </center>
        </footer>
                
        {% block javascripts %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
            <script src="//cdn.jsdelivr.net/ace/1.1.8/min/ace.js"></script>
        {% endblock %}
    </body>
</html>