{% extends 'default/admin_layout.html.twig' %}

{% block content %}
    <h1>{{ name|default('Paytoshi Faucet') }} Setup</h1>
    <hr>
    <p>TODO</p>
    <form action="{{ path('setup_execute') }}" method="post">
        <button type="submit" class="btn btn-primary">Start now</button>
    </form>
{% endblock %}